$color-primary: #00bfff;
$color-primary-dark: #009acd;

$color-dark-1: #1a1a1a;
$color-dark-2: #242424;
$color-dark-3: #3a3a3a;

$color-light-1: #f0f0f0;
$color-light-2: #aaa;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;