@import "../../../styles/variables";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid $color-dark-3;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}