@import "../../styles/variables";

.searchContainer {
  position: relative;
  margin-bottom: 1.5rem;
  max-width: 24rem;
}

.searchInput {
  width: 100%;
  padding: 0.75rem 1rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  color: $color-light-1;
  background-color: $color-dark-2;
  border: 1px solid $color-dark-3;
  border-radius: 8px;
  transition: border-color 0.2s, box-shadow 0.2s;

  &::placeholder {
    color: $color-light-2;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.3);
  }
}

.searchIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: $color-light-2;
}