@import "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $color-dark-2;
  border-bottom: 2px solid $color-primary-dark;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
  
  .logoHighlight {
    color: $color-primary;
  }
}

.nav {
  display: flex;
  gap: 1.5rem;

  span {
    color: $color-light-1;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }
}